<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <img src="/img/images.png" class="logo" alt="ortonideo Logo" class="logo">
      <h3 class="text-center">Account login </h3>
      <form action="/users/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>